@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-sentiment-background: #f4f4f4;
  --color-sentiment-text: #212121;
  --color-sentiment-positive: #4caf50;
  --color-scolor-entiment-negative: #f44336;
  --color-sentiment-neutral: #ffc107;
}
